{% extends 'base.html.twig' %}

{% block bread %}
→ Login
{% endblock %}

{% block body %}
<form action="{{ path('app_login') }}" method="POST" class=" rounded-lg">
    <div>
        <label 
            class="block text-sm text-white font-medium">Email</label>
        <input 
            type="text" 
            name="_username" 
            value="{{ lastUsername }}" 
            class="block w-full shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2" />
    </div>

    <div>
        <label 
            class="block text-sm text-white font-medium">Password</label>
        <input type="password" 
            name="_password" 
            class="block w-full shadow-sm border-gray-300 rounded-md border p-2 mt-1 mb-2" />
    </div>

    <input type="hidden" name="_target_path" 
        value="/micro-post" />

    <div class="flex justify-center items-center">
        <button type="submit" class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700  text-white rounded-md border p-2 mt-4 mb-2"> LOG IN </button>
    </div>

</form>
    <div class="flex justify-center items-center mt-2 text-center text-gray-400  ">
            I dont't have an account yet  <div class="ml-2"></div> <a href="{{ path('app_register') }}" class="text-blue-600 ">  Sign Up here</a>
    </div>

{% endblock %}